{% extends 'base.html' %} {% block content %}
<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<form action="{% url 'transaction:add_transaction' %}" method="POST">

    {% csrf_token %}
    <input type="hidden" value="{{item_bought.name_item}}" name="name_item">
    <input type="hidden" value="{{item_bought.price_item}}" name="price_item">
    <input type="hidden" value="{{item_bought.stock_item}}" name="stock_item">
    <input type="hidden" value="{{item_bought.desc_item}}" name="desc_item">

    <input type="hidden" value="{{name_coupon_chosen}}" name="coupon_chosen_name">
    <input type="hidden" value="{{percentage_coupon_chosen}}" name="coupon_chosen_percentage">

    <h4>First Name</h4>
    <input type="text" placeholder="First Name" name="first_name" required>
    <h4>Last Name</h4>
    <input type="text" placeholder="Last Name" name="last_name" required>
    <h4>Item Bought: {{item_bought.name_item}}</h4>


    {% if after_discount != None %}
    <h3>Total:</h3>
    <h4>Rp. {{after_discount}}</h4>
    {% else %}
    <h3>Total:</h3>
    <h4>Rp. {{item_bought.price_item}}</h4>
    {% endif %}
    <input type="submit" value="Checkout">
</form>

<form action="{% url 'transaction:checkout' %}" method="POST" class="d-flex justify-content-center align-item-center flex-column">
    {% csrf_token %}

    <input type="hidden" value="{{item_bought.name_item}}" name="name_item">
    <input type="hidden" value="{{item_bought.price_item}}" name="price_item">
    <input type="hidden" value="{{item_bought.stock_item}}" name="stock_item">
    <input type="hidden" value="{{item_bought.desc_item}}" name="desc_item">

    <h4>Coupon Name</h4>
    <input type="text" placeholder="Coupon Name" name="name_coupon">
    <input type="submit" value="Find Coupon"> {% if name_coupon_chosen %}
    <p>You choose "{{name_coupon_chosen}}"</p>
    <h4>Discount {{percentage_coupon_chosen}}%</h4>
    {% endif %} {% if name_coupon %}
    <p>Search for: {{name_coupon}}</p>
    {% endif %} {% if percentage_coupon %}
    <p>Min Percentage : {{percentage_coupon}}%</p>
    {% endif %}


    <p>Coupon Available:</p>
    <div>
        {% for coupon in coupon_list %}
        <div>
            <button type="submit" value="{{coupon.name}}" name="coupon_chosen">
                        <p>{{coupon.name}}</p>
                    </button>
        </div>
        {% endfor %}
    </div>

</form>


</div>
</div>
</div>
</div>

{% endblock %}