{% extends 'base.html' %} {% block content %} {% for transaction in transaction_list %}
<h1 class="m-0 p-0">{{transaction.name_buyer}}</h1>
<p class="m-0 p-0">Item: {{transaction.item.name_item}}</p>
<p class="m-0 p-0">{{transaction.buy_date|date:"Y-m-d / G:i"}}</p>
{% if transaction.coupon != None %} Coupon: {{transaction.coupon.name}} ({{transaction.coupon.percentage}}% off) {% else %} No coupon used {% endif %}
</p>
<h2 class="m-0 p-0">Rp. {{transaction.total_transaction}},00</h2>
{% endfor %} {% endblock %}