{% load static %}

<header>
    <nav class="Navbar" style="mix-blend-mode: difference;">
        <h1><a href="/"> Waroeng</a></h1>
        <div class="flex-ccc">
            <form action="{% url 'item:index' %}" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2 w-50" type="search" placeholder="Cari Barang?" aria-label="Search" name="name_item">
                <input type="submit" class="invisible-button" value="Cari">
            </form>
        </div>

        <ul class="NavbarPages">

            <li>
                {% for link,name in nav%}
                <a href="{{link}}">{{name}}</a> {% endfor %}
            </li>

        </ul>

    </nav>
</header>