{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}" type="text/css">

</head>

<body>
    {% include 'snippets/navbar.html' %}
    <section class="container-100p">
        {% block content %} {% endblock %}
    </section>
</body>
<footer class="bg-black ">
    <div class="grid-block-50vh-img flexrow-ccc">
        <h1>Contact</h1>
        <br>
        <a href="/" style="color: rgba(255,255,255,0.5);">Instagram (Soon)</a>
        <br>
        <a href="/" style="color: rgba(255,255,255,0.5);">Tokopedia (Soon)</a>
    </div>
</footer>

</html>