{% extends 'base.html' %} {% block content %} {{ dynamicdet_item.category_item }}
<h4>{{ dynamicdet_item.name_item }}</h4>
<p>Price : Rp. {{ dynamicdet_item.price_item }}</p>
<p>Quantity: {{dynamicdet_item.stock_item}}</p>
<p>Description: {{ dynamicdet_item.desc_item }}</p>
<p>Category: {{ dynamicdet_item.category }}</p>

{% if dynamicdet_item.stock_item > 0 %}
<form action="{% url 'transaction:checkout' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{ dynamicdet_item.name_item }}" name="name_item">
    <input type="hidden" value="{{ dynamicdet_item.price_item }}" name="price_item">
    <input type="hidden" value="{{ dynamicdet_item.stock_item }}" name="stock_item">
    <input type="hidden" value="{{ dynamicdet_item.desc_item }}" name="desc_item">
    <input type="submit" class="cta-green" value="Checkout">
</form>
{% else %}
<form action="{% url 'transaction:checkout' %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="cta-green" value="No Stock" disabled>
</form>
{% endif %}


<form action="{% url 'item:dynamicdet' dynamicdet_item.id %}" method="POST">
    {% csrf_token %}
    <input type="text" name="reviewer_name" placeholder="Your name">
    <input type="text" name="review" placeholder="Your review">
    <input type="number" name="star" min=1 max=5 placeholder="Stars">
    <input type="submit" value="submit review">
</form>
{% for review in dynamicdet_item.review_set.all %}
<h3>{{review.reviewer_name}}</h3>
<p>{{review.star}}</p>
<p>{{review.review}}</p>
{% endfor %} {% endblock %}