<!DOCTYPE html> {% load static %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style(Raka).css' %}">
</head>

<body>
    <div class="index"></div>
    <div class="weblogo">Waroeng</div>
    <div class="group43"></div>
    <div class="rectangle31"></div>
    <div class="whatsapp">Whatsapp</div>
    <div class="instagram">Instagram</div>
    <div class="contactus">Contact us</div>
    <div class="searchbutton"></div>
    <div class="searchpng">
        <img src="">
    </div>
    <div class="description">Description</div>
    <div class="descriptiontext">
        Sistem kamera tunggal (Wide) atau ganda (Wide, Telefoto) Pemutaran video hingga 14 jam Tahan air sampai kedalaman 1 meter hingga selama 30 menit Layar Retina HD 4,7” atau 5,5”
    </div>
    <div class="subtotal">Subtotal : Rp. 6,500,000</div>
    <div class="pesantambahan">Pesan tambahan:</div>
    <div class="browsebutton"></div>
    <div class="browsetext">Browse more</div>
    <div class="checkbutton"></div>
    <div class="checkouttext">CHECK OUT</div>
    <div class="productbox"></div>
    <div class="productname">iPhone 8 Plus 64 GB</div>
    <div class="productphotobox"></div>
    <div class="image">
        <img src="static/images/product.jfif">
    </div>

</body>

</html>