 {% extends 'base.html' %} {% block content %} {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Waroeng</title>
</head>


<body>
    <section class="grid-autofit-la bg-white">
        <div class="container-100p bg-white flex-ccc">
            <img src="{% static 'img/Mac/1.jpg'%}" width="auto" height="400em" min-height="300px">
        </div>
        <div class="container-100p bg-red flexrow-ccc">
            <h1 style="font-size: 4em;">Sale</h1>
            <br>
            <h1 style="font-size: 6em;">50%</h1>
        </div>
    </section>

    <section class="grid-autofit-sm bg-smokewhite">
        {% for element in all_item %}
        <div class="block-300 bg-white margin-1em flexrow-ccc">
            <div>
                <img src="{% static 'img/Mac/'%}{{element.id}}.jpg" class="img" width="auto" height="100px">
            </div>
            <div>
                <p>{{element.category}}</p>
                <h3><a href="{{ element.id }}" style="color: black;"> {{ element.name_item }} </a></h3>
                <br>
                <p>Price : Rp. {{ element.price_item }}</p>
                <p>Quantity: {{element.stock_item}}</p>
                <p>Description: {{element.desc_item}}</p>
            </div>
        </div>
        {% endfor %}
    </section>


</body>

</html>
{% endblock %}