html,
html * {
    margin: 0;
    padding: 0;
}


/* Navigation bar */

.Navbar {
    display: grid;
    grid-template-columns: 15% 1fr 1fr;
    position: fixed;
    z-index: 1100;
    /* mix-blend-mode: difference; */
    width: 100%;
    padding: 2em;
    color: black;
}

.NavbarLogo {
    height: auto;
    width: auto;
    color: black;
}

.NavbarPages {
    text-align: center;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 4em;
    font-size: 20px;
    color: black;
}

.NavbarPages>li>a {
    padding-left: 1em;
    color: white;
    text-decoration: none;
}

.NavbarPages>li>a:active,
a:hover {}

#menuToggle {
    height: 2em;
    width: 2em;
    background-color: black;
}

.invisible-button {
    visibility: hidden;
}