/* MacBook Pro - 2 (Index) */

.index{
position: relative;


background: #FFFFFF;
}
/* web logo */

.weblogo{
position: absolute;
width: 169px;
height: 38px;
left: 22px;
top: 24px;

font-family: Kaushan Script;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 46px;
text-align: center;

color: #000000;
}

/* Group 43 */

.group43{
position: absolute;
width: 1440px;
height: 346px;
left: 0px;
top: 886px;
}

/* Whatsapp */

.whatsapp{
position: absolute;
width: 144px;
height: 38px;
left: 682px;
top: 1116px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
/* Instagram */

.instagram{
position: absolute;
width: 145px;
height: 38px;
left: 681px;
top: 1055px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}
/* Contact us */

.contactus{
position: absolute;
width: 308px;
height: 75px;
left: 603px;
top: 933px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 75px;

/* identical to box height */

text-align: center;

color: #FFFFFF;
}	
/* Rectangle 31 */

.rectangle31{
position: absolute;
width: 1440px;
height: 346px;
left: 0px;
top: 886px;

background: #232323;
}
/* Rectangle 35 */

.searchbutton{
position: absolute;
width: 64px;
height: 64px;
left: 1308px;
top: 714px;

background: #1064C7;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
border-radius: 100px;
}
/* search-24px 1 */

.searchpng{
position: absolute;
width: 40px;
height: 40px;
left: 1320px;
top: 726px;
}
/* Description */

.description{
position: absolute;
width: 122px;
height: 28px;
left: 50px;
top: 623px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}
/* description text*/

.descriptiontext{
position: absolute;
width: 546px;
height: 115px;
left: 70px;
top: 666px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

color: #000000;
}
/* Subtotal */

.subtotal{
position: absolute;
width: 335px;
height: 38px;
left: 50px;
top: 535px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
/* identical to box height */


color: #000000;
}
/* Pesan tambahan: */

.pesantambahan{
position: absolute;
width: 187px;
height: 28px;
left: 50px;
top: 480px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}
/* browsemorebutton */

.browsebutton{
position: absolute;
width: 195px;
height: 58px;
left: 954px;
top: 465px;

border: 1px solid #000000;
box-sizing: border-box;
}
/* Browse more text */

.browsetext{
position: absolute;
width: 153px;
height: 28px;
left: 975px;
top: 480px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;

color: #000000;
}
/* check out button */

.checkbutton{
position: absolute;
width: 195px;
height: 58px;
left: 1169px;
top: 465px;

background: #009E3F;
}
/* CHECK OUT text */

.checkouttext{
position: absolute;
width: 130px;
height: 28px;
left: 1202px;
top: 480px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 28px;

color: #FFFFFF;
}
/* product box */

.productbox{
position: absolute;
width: 1314px;
height: 183px;
left: 50px;
top: 259px;

background: #F7F7F7;
}
/* product name */

.productname{
position: absolute;
width: 288px;
height: 38px;
left: 268px;
top: 276px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 37px;
/* identical to box height */


color: #000000;
}
/* Rectangle 43 */

.productphotobox{
position: absolute;
width: 193px;
height: 183px;
left: 50px;
top: 259px;

background: #FFFFFF;
}
/* 3326035_e2f24103-77d3-43c7-9e40-c6779e016bb0_668_934 2 */

.image{
position: absolute;
width: 92px;
height: 137px;
left: 101px;
top: 282px;

background: url(3326035_e2f24103-77d3-43c7-9e40-c6779e016bb0_668_934.jpg);
}






