body {
    font-family: 'Share Tech';
}

.bg-main {
    background-color: #7ADAE7;
}

.bg-main2 {
    background-color: #DFDFDF;
}

.bg-main3 {
    background-color: #ECECEC;
}

.btn-main {
    border: 2px solid #7ADAE7;
    background-color: #7ADAE7;
    color:white;
}

.btn-main2 {
    border: 2px solid white;
    background-color: #DFDFDF;
    color:white;
}

.btn-main2:hover {
    background-color: #7ADAE7;
}

.btn-main:hover {
    background-color: rgb(87, 247, 253);
    color:black;
}

.bg-coupon {
    background-color:gold;
}

.border-history {
    border: 2px solid #7ADAE7;
}